.container{
    background-image: url('rick.jpg');
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    flex-direction:row;
    /* Shows boxes in column */

    flex-wrap: wrap; /* Provides way to wrap the boxes as the device changes or the size decreases */

    justify-content: center;
    align-items: center; /* Explore various types on MDN */
    /* align-content: center; Avoids the white space between boxes when wrapping */
    /* Justify items (horizonal) for alignment along main axis and align items (vertical) for along cross axis */
}

.box1{
    background-color: crimson;
    height: 234px;
    width: 345px;
    border: 2px solid black;
    align-self: flex-end; 
    /* Aligns itself at flex end */
}

.box2{
    background-color: aquamarine;
    height: 234px;
    width: 345px;
    border: 2px solid black;
}